<h1 align="center" style="background-color:#306998;color:#FFD43B;font-size:64px;font-family:sans;padding:20px">PYTHON FOR EVERYONE<h1><h6 align="right"> --By Rohit Srivastava </h6>


Different data types in python. There are different data type in python programming. To identify the data tpe we use the type method.


|Data Type Family|Data Type| 
|-------------------|-----------|
| **Text Type**     | str       |
| **Numeric Type**  | int , float, complex|
|**Sequence Type**  | list, tupple, range |
|**Mapping Type**   | dict|
|**Set Type**       |set, frozenset|
|**Boolen Type** |bool|
|**Binay Type** | bytes, bytearray, memoryview|

# Strings
String is data type. Any data under single('') or double quote("") are a string. There are diferent string methods to deal with string data types. To check the length of a string use the ***len()*** method.

In [1]:
type("Rohit")

str

In [3]:
first_Name="Rohit"

In [7]:
last_Name='Srivastava'

In [5]:
type(first_Name)

str

In [8]:
type(last_Name)

str

In [10]:
'Rohit\'s book'  # use \' to escape the single quote...

"Rohit's book"

In [11]:
"Rohit\'s book"  # use double quotes("...") instead

"Rohit's book"

In [12]:
'"Yes," they said.'

'"Yes," they said.'

In [13]:
 "\"Yes,\" they said."

'"Yes," they said.'


**NOTE 1: If you don’t want characters prefaced by \ to be interpreted as special characters, you can use raw strings by adding an r before the first quote:
See below example**

In [18]:
print('C:\python\newfolder')

C:\python
ewfolder

In [19]:
print(r'C:\python\newfolder')

C:\python\newfolder

**NOTE 2: String literals can span multiple lines. One way is using triple-quotes: """...""" or '''...'''. End of lines are automatically included in the string, but it’s possible to prevent this by adding a \ at the end of the line. The following example:**

In [55]:
print("""
I 
am 
Rohit 
Srivastava""")

I
am
Rohit
Srivastava

**NOTE 3: Strings can be concatenated (glued together) with the + operator, and repeated with *: See below example**

In [21]:
'Rohit'+"Srivastava"

'RohitSrivastava'

In [22]:
print('Rohit'+"Srivastava")

RohitSrivastava

In [38]:
4*'Rohit'+'Srivastava'

'RohitRohitRohitRohitSrivastava'

In [43]:
print(4*f"Rohit Srivastava\n")

Rohit Srivastava
Rohit Srivastava
Rohit Srivastava
Rohit Srivastava

In [48]:
4*"Rohit Srivastava \n "

'Rohit Srivastava \n Rohit Srivastava \n Rohit Srivastava \n Rohit Srivastava \n '

In [50]:
#Two or more string literals (i.e. the ones enclosed between quotes) next to each other are automatically concatenated.
'Py' 'thon'

'Python'

**NOTE 4 :**
* **Strings can be indexed (subscripted), with the first character having index 0. There is no separate character type; a character is simply a string of size one:**
* **Note that since -0 is the same as 0, negative indices start from -1.**
* **Indices may also be negative numbers, to start counting from the right:**

In [70]:
name="Rohit Srivastava"

In [71]:
name[0]

'R'

In [56]:
name[0]+name[6]

'RS'

In [74]:
name[-1]+name[-2]+name[-9]

'avr'

In [80]:
name[-9:-2]

'rivasta'

In [81]:
name[0:4]

'Rohi'

In [85]:
name[6:12]

'Srivas'

In [87]:
name[:5]

'Rohit'

**NOTE 5 : Python strings cannot be changed — they are immutable. Therefore, assigning to an indexed position in the string results in an error:**

In [88]:
name[0]=s

TypeError: 'str' object does not support item assignment

## String build-in Functions

**str.capitalize()**
Return a copy of the string with its first character capitalized and the rest lowercased.

Changed in version 3.8: The first character is now put into titlecase rather than uppercase. This means that characters like digraphs will only have their first letter capitalized, instead of the full character.

In [113]:
print(name.capitalize())#More specifically, make the first character have upper case and the rest lower

Rohit srivastava

-------------------------------
**str.count(sub[, start[, end]])**


Return the number of non-overlapping occurrences of substring sub in the range [start, end]. Optional arguments start and end are interpreted as in slice notation.

In [121]:
print("occurance of S character in string:",name.count('a')) #Return a version of the string suitable for caseless comparisons.

occurance of S character in string: 3

In [124]:
print("occurance of S character in string:",name.count('a',1,11))

occurance of S character in string: 1

-------------------------------
**str.endswith(suffix[, start[, end]])**


Return True if the string ends with the specified suffix, otherwise return False. suffix can also be a tuple of suffixes to look for. With optional start, test beginning at that position. With optional end, stop comparing at that position

In [114]:
print(name.endswith('a')) #Return True if name ends with the specified suffix, False otherwise.

True

In [131]:
name.endswith(('s','a','v') ) # tuple

True

In [134]:
name.endswith('tava',10,16 ) # With Stat and end index

True

In [115]:
print(name.endswith('s')) #Return True if name ends with the specified suffix, False otherwise.

False

---------------------------------
**str.find(sub[, start[, end]])**
Return the lowest index in the string where substring sub is found within the slice s[start:end]. Optional arguments start and end are interpreted as in slice notation. Return -1 if sub is not found.

**NOTE 6:  The find() method should be used only if you need to know the position of sub. To check if sub is a substring or not, use the in operator:**

In [117]:
print(name.find('a')) # Return the lowest index in name where substring sub is found,

10

In [140]:
name.find('tava',10,16 ) # With Stat and end index

12

----------------------------------------------
**str.format(*args, **kwargs)**
Perform a string formatting operation. The string on which this method is called can contain literal text or replacement fields delimited by braces {}. Each replacement field contains either the numeric index of a positional argument, or the name of a keyword argument. Returns a copy of the string where each replacement field is replaced with the string value of the corresponding argument.

In [118]:
print(name.format())

Rohit Srivastava

--------------------------------------
**str.upper()**
Return a copy of the string with all the cased characters converted to uppercase. Note that s.upper().isupper() might be False if s contains uncased characters or if the Unicode category of the resulting character(s) is not “Lu” (Letter, uppercase), but e.g. “Lt” (Letter, titlecase).

In [119]:
print(name.upper()) # Return a copy of the string converted to uppercase

ROHIT SRIVASTAVA

---------------------------
**str.isalnum()**
Return True if all characters in the string are alphanumeric ( alphabet and number )and there is at least one character, False otherwise. A character c is alphanumeric if one of the following returns True: c.isalpha(), c.isdecimal(), c.isdigit(), or c.isnumeric().

In [120]:
print(name.isalnum()) # Return True if the string is an alpha-numeric string, False otherwise

False

--------------------------------------
**str.isalpha()**
Return True if all characters in the string are alphabetic and there is at least one character, False otherwise. Alphabetic characters are those characters defined in the Unicode character database as “Letter”, i.e., those with general category property being one of “Lm”, “Lt”, “Lu”, “Ll”, or “Lo”. Note that this is different from the “Alphabetic” property defined in the Unicode Standard.

In [146]:
'Lt'.isalpha()

True

---------------------------------
**str.isdigit()**
Return True if all characters in the string are digits and there is at least one character, False otherwise. Digits include decimal characters and digits that need special handling, such as the compatibility superscript digits. This covers digits which cannot be used to form numbers in base 10, like the Kharosthi numbers. Formally, a digit is a character that has the property value Numeric_Type=Digit or Numeric_Type=Decimal.

In [148]:
'34'.isdigit()

True

In [151]:
'Rohit518'.isdigit()

False

In [150]:
name.isdigit()

False

---------------------------
**str.islower()**
Return True if all cased characters
in the string are lowercase and there is at least one cased character, False otherwise.

In [152]:
'lowercase'.islower()

True

In [153]:
'lowerCase'.islower()

False

-------------------------------
**str.isnumeric()**
Return True if all characters in the string are numeric characters, and there is at least one character, False otherwise. Numeric characters include digit characters, and all characters that have the Unicode numeric value property, e.g. U+2155, VULGAR FRACTION ONE FIFTH. Formally, numeric characters are those with the property value Numeric_Type=Digit, Numeric_Type=Decimal or Numeric_Type=Numeric.

In [155]:
'12345'.isdigit()

True

In [156]:
name.isdigit()

False

___________________
**str.isspace()**
Return True if there are only whitespace characters in the string and there is at least one character, False otherwise.

In [157]:
name.isspace()

False

In [158]:
name

'Rohit Srivastava'

In [160]:
'                  '.isspace()

True

-----------------------------
**str.lstrip([chars])**
Return a copy of the string with leading characters removed. The chars argument is a string specifying the set of characters to be removed. If omitted or None, the chars argument defaults to removing whitespace. The chars argument is not a prefix; rather, all combinations of its values are stripped:

In [163]:
'          Rohit    '.lstrip()

'Rohit    '

----------------------------------
**str.rstrip([chars])**
Return a copy of the string with trailing characters removed. The chars argument is a string specifying the set of characters to be removed. If omitted or None, the chars argument defaults to removing whitespace. The chars argument is not a suffix; rather, all combinations of its values are stripped:

In [162]:
'          Rohit    '.rstrip()

'          Rohit'

----------------------------------------
**str.strip([chars])**
Return a copy of the string with the leading and trailing characters removed. The chars argument is a string specifying the set of characters to be removed. If omitted or None, the chars argument defaults to removing whitespace. The chars argument is not a prefix or suffix; rather, all combinations of its values are stripped:

In [164]:
'          Rohit    '.strip()

'Rohit'

In [173]:
'#$...... Rohit#$Srivastava ....@#$'.strip('#$. @')

'Rohit#$Srivastava'

------------------------
**str.swapcase()**
Return a copy of the string with uppercase characters converted to lowercase and vice versa. Note that it is not necessarily true that s.swapcase().swapcase() == s.

In [174]:
name.swapcase()

'rOHIT sRIVASTAVA'

**str.zfill(width)**
Return a copy of the string left filled with ASCII '0' digits to make a string of length width. A leading sign prefix ('+'/'-') is handled by inserting the padding after the sign character rather than before. The original string is returned if width is less than or equal to len(s).

In [175]:
"518".zfill(6)

'000518'

In [176]:
"-518".zfill(6)

'-00518'

In [177]:
'rohit'.zfill(8)

'000rohit'

In [179]:
'-rohit'.zfill(10)

'-0000rohit'

In [180]:
'3j'.zfill(7)

'000003j'

In [182]:
'45'.zfill(5)

'00045'

In [183]:
s=123

In [184]:
s.zfill(7)

AttributeError: 'int' object has no attribute 'zfill'

---------------------------------
**str.index(sub[, start[, end]])**
Like find(), but raise ValueError when the substring is not found.

In [186]:
name.index('a')

10

----------------------------------------
**str.split(sep=None, maxsplit=-1)**
Return a list of the words in the string, using sep as the delimiter string. If maxsplit is given, at most maxsplit splits are done (thus, the list will have at most maxsplit+1 elements). If maxsplit is not specified or -1, then there is no limit on the number of splits (all possible splits are made).

If sep is given, consecutive delimiters are not grouped together and are deemed to delimit empty strings (for example, '1,,2'.split(',') returns ['1', '', '2']). The sep argument may consist of multiple characters (for example, '1<>2<>3'.split('<>') returns ['1', '2', '3']). Splitting an empty string with a specified separator returns [''].

In [192]:
'Hi#I#am#Rohit#Srivastava'.split(sep='#',maxsplit=0)

['Hi#I#am#Rohit#Srivastava']

In [196]:
'Hi#I#am#Rohit#Srivastava'.split(sep='#',maxsplit=1)

['Hi', 'I#am#Rohit#Srivastava']

In [195]:
'Hi#I#am#Rohit#Srivastava'.split(maxsplit=4) # Separater field is not give

['Hi#I#am#Rohit#Srivastava']

**str.rsplit(sep=None, maxsplit=-1)**
Return a list of the words in the string, using sep as the delimiter string. If maxsplit is given, at most maxsplit splits are done, the rightmost ones. If sep is not specified or None, any whitespace string is a separator. Except for splitting from the right, rsplit() behaves like split() which is described in detail below.

In [200]:
'Hi#I#am#Rohit#Srivastava'.rsplit(sep='#',maxsplit=1)

['Hi#I#am#Rohit', 'Srivastava']

In [199]:
'Hi#I#am#Rohit#Srivastava'.rsplit(sep='#',maxsplit=2)

['Hi#I#am', 'Rohit', 'Srivastava']

In [201]:
'Hi#I#am#Rohit#Srivastava'.split(maxsplit=4) # Separater field is not give

['Hi#I#am#Rohit#Srivastava']

--------------------------
**str.rpartition(sep)**
Split the string at the last occurrence of sep, and return a 3-tuple containing the part before the separator, the separator itself, and the part after the separator. If the separator is not found, return a 3-tuple containing two empty strings, followed by the string itself.

In [203]:
'Hi#I#am#Rohit#Srivastava'.rpartition('#')

('Hi#I#am#Rohit', '#', 'Srivastava')

In [204]:
'Hi#I#am#Rohit#Srivastava'.rpartition('@')

('', '', 'Hi#I#am#Rohit#Srivastava')

-------------------------------------
**str.replace(old, new[, count])**
Return a copy of the string with all occurrences of substring old replaced by new. If the optional argument count is given, only the first count occurrences are replaced.

In [208]:
'Rohit Srivastava'.replace('a','A')

'Rohit SrivAstAvA'

In [209]:
'Rohit Srivastava'.replace('a','A',2)

'Rohit SrivAstAva'

In [210]:
'Rohit Srivastava'.replace('a','A',3)

'Rohit SrivAstAvA'